
.title {
    color: rgb(184, 184, 184);
    line-height: 5px;
    
}

.italic {
    font-style: italic;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    height: 500vh;
    background-image: linear-gradient( 100deg, rgb(0, 26, 43), rgb(5, 0, 82) );
}

.section-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section-buttons > a {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(216, 216, 216);
}

main {
    color: rgb(184, 184, 184);
    border-radius: 5px;
    padding: 5px;
}

.section-div {
    font-family: monospace;
}